In [1]:
#import the necessary packages
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/spam.csv', encoding='ansi')
df.head(2)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN

## Data Cleaning

In [3]:
#remove the unnamed column
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)
df.head(2)

    v1                                                 v2
0  ham  Go until jurong point, crazy.. Available only ...
1  ham                      Ok lar... Joking wif u oni...

In [4]:
#rename the columns
df.rename(columns={'v1':'label', 'v2':'text'}, inplace=True)
df.head(2)

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...

In [5]:
df['label'] = (df['label'] == 'spam').astype(int)
df.sample(5)

      label                                               text
4114      0  Sorry. You never hear unless you book it. One ...
3710      0                    Sorry pa, i dont knw who ru pa?
2041      0               ÌÏ dun wan to watch infernal affair?
1820      0  I'll probably be by tomorrow (or even later to...
1275      0                               Wot u up 2 u weirdo?

In [6]:
#count duplicates
df.duplicated().sum()

403

In [7]:
#drop duplicates
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0